{% extends "base.html" %}
{% block title %}
{{ super() }}
{% if data is defined %}{{ data.name }}{% endif %}
{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block navbar %}{{ super() }}{% endblock %}

{% block content %}

{% block sections %}
<div class="container">
	{% for choice in primary %}
	<a href="/p/read/{{ choice.name }}">
		<div class="col-md-2 text-center">{{ choice.name }}</div>
	</a>
	{% endfor %}
</div>
{% endblock %}

<div class="container">
	{% for feature in featured %}
	<a href="/p/read/{{ feature.name }}">
		<div class="col-md-4 text-center">
			<h5>{{ feature.name }}</h5>
			{% for media in feature.media %}
			<img class="img-responsive" src={{ media.uri }} alt={{ media.alt }}>
			{% endfor %}

		</div>
	</a>
	{% endfor %}
</div>
{% endblock %}
