{% extends "admin/base-auth.html" %}
{% block title %}
{{ super() }}
Create New User
{% endblock %}

{% block head %}
{{ super() }}
<!-- root-only js -->
{% endblock %}
{% block content %}
<h1>Find and Update Users</h1>
{% if error is defined %}
<p>{{ error }}</p>	
{% endif %}

<form
	id="find-and-update-user-form"
	method="POST"
 	role="form"
  	action=/admin/find-and-update-user>

	<div class="form-group">
		<label for="input-searchkey" class="control-label">Userisms</label>
		<input
			type="text"
   			class="form-control"
			id="input-searchkey"
			name="search_key"
   			placeholder="goat kamal"
			required></input>
	</div>

	<div class="form-group">
		<label for="submit-search" class="control-label"></label>
		<button
			type="submit"
   			class="btn btn-primary"
			id="submit-search">Find User</button>
	</div>
</form>

{% if results is defined %}
<ul>
{% for result in results %}
	<li>
		<a href="/admin/update-user/{{ result.username }}">{{ result.username }}</a> {{ result.first_name }} {{ result.last_name }} {{ result.email }}
	</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
