<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}

		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

		<!-- Latest compiled and minified bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/dull-parts.css") }}"> 

		<link href="//fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet" type="text/css">

		<!-- bootstrap theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<!-- form validator for bootstrap -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap-validator/validator.min.js') }}"></script>

		<!-- bring the responsive noise -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% block title %}Exciting App, LLC - {% endblock %}</title>
		{% endblock %}
	</head>
	<body>
		<div id="navbar">
			{% block navbar %}
				<a class="nb" href="/">home</a>
				{% if not session.auth_user %}
				<a class="nb" href="/login">log in or create account</a>
				{% else %}
				<a class="nb" href="/things">{{ session.auth_user.username }}'s things</a>
				<a class="nb" href="/auth/profile">profile</a>
				<a class="nb" href="/logout">log out</a>
				{% endif %}

			{% endblock %}
		</div>

		{% block content %}
			{% block vote %}
			{% endblock %}
		{% endblock %}

		{% block footer %}
		<p>&copy;Exciting App LLC <script>document.write(new Date().getFullYear())</script> all rights reserved.
		</p>
		{% endblock %}
	</body>
</html>
